body {
	font-family: arial; 
background-color: rgb(185,179,175);

background-image:
url('AngelLogo2.PNG');
background-repeat: 
no-repeat;
background-position: right top;
}










h1 {
	color:rgb(43, 0, 255);
}



